div {
    margin: 0;
    padding: 0;
    position: fixed;

    top: 0;
    background-color: #772715;
    height: 500px;
    width: 500px;
    /*animation-name: change-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

/*@keyframes change-color {
    0% {
        background-color: #8c1005
    }
    100% {
        background-color: #212d73
    }
}*/

@keyframes move {
    0% {
        left: 0
    }
    100% {
        left: 1042px;
        border-radius: 50%;
        background-color: #4c84ff
    }
}