html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    border-radius: 0;
}

body {
    height: 100vh;
    background: radial-gradient(#3f5e88, #3b3b3b)
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Monaco, sans-serif;
    font-size: 50px;
    color: #b4b4b4;
    text-shadow: 5px 5px black;
}

span {
    display: flex;
    justify-content: flex-end;
}

.textblock {
    margin: 45px 310px;
    font-size: 18px;
    font-family: Monaco, sans-serif;
    color: #777777;
}

.container {
    display: flex;
    justify-content: flex-end;
    font-family: Monaco, sans-serif;
    font-size: 13px;
}

input {
    background-color: #3f5e88;
    font-family: "Apple Braille", serif;
    color: rgba(0, 0, 0, 0.98);
}

label {
    color: #777777;
    text-shadow: 3px 3px black
}
h2{
    color: inherit;
    font-family: "Apple Braille", serif;
}

ul  {
    font-family: Monaco, sans-serif;
    display: block;

}
a:link{
    color: #26a426;
}
a:visited{
    color: #ac1626;
}
a:hover{
    color: cornflowerblue;
}
a:active{
    color: gold;
}