html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    border-radius: 0;
    font-family: Futura, sans-serif;
}

body {
    height: 100vh;
    background-color: #3e3b3d;;
}

header {
    text-shadow: #0b7739 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #000000;
    margin: 1%;
}

span {
    display: flex;
    justify-content: flex-end;
}

.textblock {
    margin: 30px 210px;
    font-size: 18px;
    color: #bcbcbc;
}

ul {
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    width: 150px;
    display: block;
    color: #000000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:link {
    background-color: #215c02;
}

li a:hover {
    background-color: #bcbcbc;
}

li a:active {
    background-color: #162d18;
}