div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0bc95b;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
    transition-duration: 1s;
}

div:hover{
    background-color: #207f13;
}