div{
    border:2px solid red;
    background-color: gray;
    text-align: center;
}

.box{
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
}

.after-box{
    clear: both;
    height: 40px;
}