html, body, div {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 5px solid red;
    margin: 0 auto;
}
div {
    width: 100%;
    min-height: 150px;
}

.c1 {
    background-color: blue;
}

.c2 {
    background-color: #0bc95b;
}

.c3 {
    background-color: purple;
}

.c4 {
    background-color: aqua;
}

.c5 {
    background-color: #e19c20;
}

