h1{
    color: cornflowerblue;
    text-align: center;
    font-size: 40px;
    font-family: Arial, serif;
}
h2{
    color: darkgreen;
    text-align: center;
    font-size: 35px;
    font-family: Arial, serif;
}
div{
    background-color: #ac242f;
    width: 585px;
    height: 200px;
    border-radius: 65px;
    margin: 0 auto;
    text-align: center;
    color: darkgreen;
    font-size: 30px;
    font-family: Arial, serif;
    text-outline: black 10px;
}
img{
    width: 30%;
    margin: auto;
    display: block;
}