body {
    box-sizing: border-box;
    border: 0;
    margin: 0;

}

div {
    height: 33vh;

}

#div1 {
    background-color: hsl(210, 90%, 50%);
}

#div2 {
    background-color: hsl(270, 90%, 50%);
}

#div3 {
    background-color: hsl(330, 90%, 50%);
}